body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #78bfb6;
    background-color: white;
}

.spacing {
    max-width: 70%;
    margin: auto;
    text-align: center;
    
}

.spacing p {
    padding: 50px 0;
    /* border: 1px solid black; */
    font-size: 50px;
    /* font-weight: bolder; */
    /* color: rgb(14, 107, 110); */
    margin-bottom: 0;

}

.continue {
    text-align: center;
    padding-bottom: 50px
}
.continue button {
    background-color: white;
    color: #78bfb6;
    border: none;
    font-size: 20px;
    font-family: inherit;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 20px;
    max-width: 300px;
    cursor: pointer;
}

.continue button:hover {
    color: #7f7d78;
  
}

.header {
    /* background-color: rgb(14, 107, 110);
    color: white; */
    padding: 20px;
    overflow: hidden;
    font-weight: lighter;
    font-family: 'Raleway', sans-serif;
    
}

.header-part {
    display: inline-block;
    
}

.nav {
    float: right;
}

.nav-list {
    
    padding: 15px;
    margin:  0;
}


.nav-list li{
    display: inline-block;
    
    text-decoration: none;
    font-size: 20px;
    letter-spacing: .1em;
    font-weight: bold;
    text-transform: uppercase;
 
}

.nav-list li a {
    /* color: white; */
    color: #78bfb6;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 2px;

}

.nav-list li a:hover {
    /* color: rgb(14, 107, 110); */
    background-color: white;
    color: #7f7d78;
}

.title, .nav {
    vertical-align: middle;
}

.title {
    padding: 0px 40px 0px 20px;
    border-right: white solid 2px;
}

.title h1, .title h2 {
    margin: 0;
    padding: 0;
    font-weight: 100;
    text-transform: uppercase;
}

.title h1 {
    color: rgb(216, 182, 31);
    font-weight: bold;
    font-size: 30px;
    letter-spacing: .05em;
    padding-top: 10px;
}

.title h2 {
    font-size: 15px;
    color: #7f7d78;

}

.symbols {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 50px;
}

/*******Projects list styling***********/

.projects-list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 300px;
 
    padding: 0 1em 0 1em;
    margin: 0;
}

.project {
    background-color: rgb(216, 182, 31);
    cursor: pointer;
    list-style: none;
    margin: 0;
    color: #575552;
    padding: 1em;
    overflow: hidden;
}

.project:nth-child(odd) {
    background-color: rgb(214, 194, 101);
}

.project:hover {
    background-color: rgb(247, 233, 171);
}

/* 
.projects-list-container {
    width: 100%;
}

.projects-list {
    padding: 0;
    margin: 0;

}
.project {
    list-style-type: none;

}

.collapsible-header {
    background-color: rgb(216, 182, 31);
    color: white;
    cursor: pointer; 
    margin: 0;
    padding: 20px;
    text-align: left;
    font-size: 30px;
    overflow: hidden;
    border-bottom: white solid 1px;
}

.active, .collapsible-header:hover {
    background-color: rgba(216, 182, 31, 0.726) ;
}
.collapsible-body {
    padding: 30px 20px;
    color: #7f7d78;
    background-color: white;
    display: none;
}

.collapsible-body p {
    margin: 0 0 16px;
}

.collapsible-body a {
    display: inline;
    color: #7f7d78;
    text-decoration: none;
}
.collapsible-body a:hover {
    font-weight: bold;  
}
*/
.logo {
    width: 20px;
    height: 20px;
    position: relative;
    margin-right: 7px;

    top: 4px;
}